{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block scripts %}
    <script>
        var oTree = oTree || {};
       (function() {
         oTree.group = parseInt("{{ player.group.pk }}");
         oTree.group = isNaN(oTree.group) ? null : oTree.group;
         oTree.role = "{{ player.role }}";
         oTree.participantCode = "{{ player.participant.code }}";
         oTree.appName = "{{ subsession.app_name }}";
         oTree.idInGroup = "{{ player.id_in_group }}";
         oTree.csrfToken = "{{ csrf_token }}";
         {% if view.is_debug %}
         oTree.debug = true;
         {% else %}
         oTree.debug = false;
         {% endif %}
       })();
     </script>

    <script src="//code.highcharts.com/stock/highstock.js"></script>

    <link
        rel="import"
        href="{% static "webcomponents/imperfect-monitoring/imperfect-monitoring.html" %}">
{% endblock %}

{% block content %}

    <imperfect-monitoring
        payoff-matrix='{{ payoff_matrix }}'
        probability-matrix='{{ probability_matrix }}'
        subperiod-length='{{ player.group.subperiod_length }}'
        rest-length='{{ player.group.rest_length }}'
        displayed-subperiods='{{ player.group.displayed_subperiods }}'
        initial-decision='{{ player.initial_decision }}'
        num-sub='{{ player.group.number_subperiods }}'
        total-points='{{ player.participant.payoff | floatformat:0 }}'
        seconds-per-tick='{{ player.group.seconds_per_tick }}'
        {% if player.group.display_average_a_graph %}
            display-average-a-graph
        {% endif %}
        {% if player.group.display_average_b_graph %}
            display-average-b-graph
        {% endif %}
        {% if player.group.display_average_ab_graph %}
            display-average-a-b-graph
        {% endif %}
        {% if player.group.display_payoff_matrix %}
            display-payoff-matrix
        {% endif %}
        {% if player.group.display_score %}
            display-score
        {% endif %}
        >
    </imperfect-monitoring>

{% endblock %}